.experienceSection {
	position: relative;
	padding: 6rem 2rem;
	color: white;
	font-family: "Cinzel", serif;
	overflow: hidden;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(20, 20, 20, 0.85);
	background-image: url("/Hercules.webp");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	filter: brightness(0.4);
	z-index: 0;
}

.content {
	position: relative;
	max-width: 700px;
	margin: 0 auto;
	z-index: 1;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(7px);
	border-radius: 15px;
	padding: 2.5rem 3rem;
	box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
}
