/* styles/Home.module.css */

.main {
	margin: 0 auto;
	padding: 0rem 0rem;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: #222;
}

.tagline {
	font-size: 1rem;
	color: #555;
	margin-bottom: 1.5rem;
}

.ctaButton {
	background: #0070f3;
	color: white;
	padding: 0.75rem 1.5rem;
	border-radius: 9999px;
	text-decoration: none;
	font-weight: bold;
	transition: background 0.3s ease;
}

.ctaButton:hover {
	background: #005bb5;
}

.about {
	margin-top: 5rem;
	line-height: 1.6;
	font-size: 1.1rem;
}

@media (max-width: 600px) {
	.hero h1 {
		font-size: 2.2rem;
	}

	.tagline {
		font-size: 1rem;
	}
}

/* .bg-glass {
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(5px);
	border-radius: 12px;
	padding: 2rem;
	margin-bottom: 2rem;
} */

.body {
	background-image: url("/Hercules.webp");
	background-size: cover; /* cover entire viewport */
	background-position: center; /* center the image */
	background-repeat: no-repeat; /* no annoying repeats */
	background-attachment: fixed; /* nice parallax effect (optional) */
	/* You can add a background color as fallback */
	background-color: #111;
}
